root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{c,h}]
indent_style = tab
indent_size = 8

[*.ld]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
